.dice {
  @apply grid grid-cols-5;
}

.face {
  display: grid;
  grid-template-areas:
    "a . c"
    "e g f"
    "d . b";

  @apply flex-auto m-4 p-2 w-11 h-11 rounded-md bg-gray-200 border;
}

.pip {
  @apply block self-center justify-self-center w-2 h-2 rounded-lg bg-[#333];
  @apply shadow-[inset_0_3px_#111,inset_0_-3px_#555];
}

.pip:nth-child(2) {
  grid-area: b;
}
.pip:nth-child(3) {
  grid-area: c;
}
.pip:nth-child(4) {
  grid-area: d;
}
.pip:nth-child(5) {
  grid-area: e;
}
.pip:nth-child(6) {
  grid-area: f;
}

.pip:nth-child(odd):last-child {
  grid-area: g;
}
